<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4">
                    <li class="list-group-item">
                    <div class="text-center"><img src="/img/profilePic.jpg" width="100" class="rounded-circle"></div>
                    <div class="text-center mt-3" th:object="${user}">
                        <h5 class="mt-4 mb-0">Full name</h5>
                        <span th:text="${user.getFullName()}">UI/UX Designer</span>
                    <ul class="offer-details list-group list-group-flush">
                            <h5 class="mt-2 mb-0">Username</h5>
                            <span th:text="*{username}">UI/UX Designer</span>
                            <h5 class="mt-2 mb-0">Email</h5>
                            <span th:text="*{email}"></span>
                            <h5 class="mt-2 mb-0">Count of offers</h5>
                            <span th:text="*{countOfOffers}"></span>
                        </li>
                    </ul>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>