<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::nav"></header>


    <div class="container bg-blur rounded mt-1 mb-4">
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">

                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Users</h3>
                <div class="bg-dark rounded " style="height: 20vh; overflow: auto">
                    <div th:each="user : ${usersList}" th:object="${user}" class="mt-1 rounded badge-info">
                        <img class="mr-1" src="/img/profilePic.jpg" alt="Pop" width="30px" height="30px">
                        <div class="card-text"><span>• Username: <th:block th:text="*{username}"></th:block> </span></div>
                        <div class="card-text"><span>• Email: <th:block th:text="*{email}"></th:block></span></div>
                        <div class="card-text"><span>• First name: <th:block th:text="*{firstName}"></th:block></span></div>
                        <div class="card-text"><span>• Last name: <th:block th:text="*{lastName}"></th:block></span></div>
                        <div class="card-text"><span>• Role: <th:block th:text="*{role.toString()}"></th:block></span></div>
                        <div class="card-text"><span>• Count of offers: <th:block th:text="*{countOfOffers}"></th:block></span></div>
                        <a class="ml-3 text-danger" th:href="@{/users/remove/{id}(id = *{id})}">Remove</a>
                    </div>
        </div>
    </div>


<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>